
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<div class="layout">
    <div class="representative-wrap">
        <div class="reprensentative-header">
            <div class="representative-header-wrap">
                <h1>Top Titles Today</h1>
            </div>
        </div>
        <div class="swiper">
            <div class="swiper-item-wrapper">
                <div class="swiper-item-wrap">
                    <div class="swiper-item-image">

                    </div>
                    <div class="swiper-item-detail">
                        <div class="swiper-item-name">

                        </div>
                        <div class="swiper-item-genres">

                        </div>
                        <div class="swiper-item-author"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-wrapper">
        <div class="product-section">
            <div class="product-type-header">
                <h1>Hot</h1>
            </div>
            <div class="product-slider-wrapper">
                <div class="product-slider">

                </div>
            </div>
        </div>
        <div class="product-section">
            <div class="product-type-header">
                <h1>Best seller</h1>
            </div>
            <div class="product-slider-wrapper">
                <div class="product-slider">
                </div>
            </div>
        </div>
        <div class="product-overview-wrapper">
            <div class="product-header">
                <h1>Recently Added</h1>
            </div>
            <div class="product-overview"></div>
        </div>
    </div>
</div>

