@{
    ViewData["Title"] = "Profile";
    Layout = "/Views/Shared/_LayoutCustomer.cshtml";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FPTBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/FPTBook.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.6.0/remixicon.css" />
    <script src="https://kit.fontawesome.com/63149990bf.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon"
          href="assets/img/favicon.png"
          type="image/x-icon" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" />
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css" />

    <link rel="stylesheet" href="~/css/site.css" />

    <title>Responsive book website</title>
</head>
<body>
    <section class="profile_container">
        <div class="profile_user-wrapper">
        <div class="profile_user-wrap card">
            <div class="profile_user-image">
                <img src="~/images/avatar-1.jpg" alt="image">
            </div>
        </div>
        <div class="profile_user-detail card">
            <div class="user-detail-name">
                <h1 class="user-name">
                    Name User
                </h1>
                <div class="user-location">
                    <i class="fa-solid fa-location-dot"></i>
                    <span>Address</span>
                </div>
            </div>
            <div class="user-contact-information">
                <h1 class="information-heading">Contact Information</h1>
                <ul>
                    <li class="user-phone">
                        <h1 class="label">Phone:</h1>
                        <span class="info">065456353</span>
                    </li>

                    <li class="user-address">
                        <h1 class="label">Address:</h1>
                        <span class="info">hai phong</span>
                    </li>

                    <li class="user-email">
                        <h1 class="label">E-mail:</h1>
                        <span class="info">zed@gmail.com</span>
                    </li>
                </ul>
            </div>

            <div class="user-basic-infomation">
                <h1 class="information-heading">Basic Information</h1>
                <ul>
                    <li class="user-birthday">
                        <h1 class="label">Birthday:</h1>
                        <span class="info">15/09/2003</span>
                    </li>

                    <li class="user-sex">
                        <h1 class="label">Gender:</h1>
                        <span class="info">Male</span>
                    </li>
                </ul>
            </div>
            <div class="profile-btns">
                    <button class="edit-info-button button">
                        Edit information
                    </button>
                    <button class="register-seller-button button">
                        Register as a seller
                    </button>
            </div>

        </div>
        </div>
    </section>

</body>
</html>

